@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
</hgroup>

<article>
    <p>
        This is a web application implemented by capstone group from the Ohio State University. 
        This web application enables a user tosearch for a product and recommend that product according to the user’s set preferences. It would
        also recommend similar products to the user which better meet the preferences of the user.
    </p>

    <p>
         Team members includes:
    </p>
     <p>
         <a href="mailto:zhang.2498@osu.edu">Boming Zhang</a> 
        
    </p>
     <p>
         <a href="mailto:schanz.10@osu.edu">Evan Schanz</a> 
       
    </p>
     <p>
         <a href="mailto:ibrahim.71@osu.edu">Feysal Ibrahim</a> 
        
    </p>
    <p>
        <a href="mailto:stock.73@osu.edu">Jamey Stock</a> 
        
    </p>
     <p>
         <a href="mailto:chen.2985@osu.edu">Sean Chen</a> 
        
    </p>
    <p>
        

        The team sponser is <a href="mailto:mariamballout@gmail.com">Mariam Ballout</a> .
        
    </p>
   
</article>
<!--
<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>-->