@{
    ViewBag.Title = "Home";
}

<style type="text/css">

  .content > div {
    border: 1px solid #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    width: auto;
    margin: 8px 0px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
  }

    .content > div:hover {
      cursor: default;
    }

</style>

<hgroup class="title">
  <h1>@ViewBag.Title</h1>
</hgroup>

<div class="content">
  <div>
    Recommended Products
  </div>
  <div>
    Recent Purchases
  </div>
  <div>
    <a href="ShoppingList/Index">Shopping Lists</a>
  </div>

      <a href="http://www.facebook.com/sharer.php?u=http://shopvote2.elasticbeanstalk.com/" 
            title="share on facebook"> <img src="@Url.Content("~/Content/Images/fb-share-button.png")" alt="share on facebook" style="width:50px;height:30px"></a>

    <a href="http://twitter.com/share?url=http://shopvote2.elasticbeanstalk.com/" title="share on twitter">
        <img src="@Url.Content("~/Content/Images/twitterbuttonbig.png")" alt="share on twitter" style="width:50px;height:30px"></a>
        
</div>