@model IEnumerable<ShopVote.Models.ShoppingList>

@{
    ViewBag.Title = "ShoppingListDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Shopping Lists</h2>
  @{ var grid = new WebGrid(Model, rowsPerPage: 50); }
      @grid.GetHtml(
        tableStyle: "table table-striped",
        mode: WebGridPagerModes.All,
        columns: grid.Columns(
          grid.Column("Name",
            format: @<text> 
                      <span class="display-mode"> <label id="lblName">@item.ListName</label> </span>
                      
                    </text>
          ),
          grid.Column("",
          format:@<text>
         @Html.ActionLink("View", "ViewList", new { id = item.ShoppingListID })
</text>  ) , 
          grid.Column("",
          format:@<text>
         @Html.ActionLink("Delete", "Delete", new { id = item.ShoppingListID })
</text>  )      
          
          )
          )
